openapi: 3.0.0
info:
  title: Ads Web
  description: Ads web practica cloud aws datahack
  version: 1.0.0
servers:
  - url: https://XXXXXXX.ads-api.us-east-1.amazonaws.com/ads
tags:
  - name: Ads
    description: Web Advertisments
    externalDocs:
      description: Find out more
      url: https://github.com/AV3RULES/practica-aws-cloud
  - name: Comments
    description: Comments of a specific advertisment
    externalDocs:
      description: Find out more
      url: https://github.com/AV3RULES/practica-aws-cloud
paths:
  /ads:
    get:
      tags:
        - Ads
      summary: Returns a list of ads.
      responses:
        '200':
          description: A JSON array of ads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdSummary'
  /ads/{ad_id}:
    post:
      tags:
        - Ads
      summary: Add a new web Ad
      description: Add a new ad to the web
      operationId: addAd
      parameters:
        - name: ad_id
          in: path
          description: ID of ad to save
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Create a new ad in the web
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ad'
        required: true
      responses:
        '201':
          description: Created
    get:
      tags:
        - Ads
      summary: Returns a specific ad
      parameters:
        - name: ad_id
          in: path
          description: ID of ad
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: A JSON array of ads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdNoComments'
  /comments/{ad_id}:
    get:
      tags:
        - Comments
      summary: Returns a list of comments for an specific ad.
      parameters:
        - name: ad_id
          in: path
          description: ID of ad
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: A JSON array of ads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
    post:
      tags:
        - Comments
      summary: Add a new comment
      description: Add a new ad to the web
      parameters:
        - name: ad_id
          in: path
          description: ID of ad
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Create a new comment in the ad
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Comment'
        required: true
      responses:
        '201':
          description: Created

components:
  schemas:
    AdSummary:
      type: object
      properties:
        ad_id:
          type: integer
          format: int64
          example: 5e489fb0-a3a8-44f6-82b6-d25ce8820cb4
        title:
          type: string
          example: VX500 300Hz PLA exchangeable
      xml:
        name: ad
    Ad:
      type: object
      properties:
        ad_id:
          type: integer
          format: int64
          example: 5e489fb0-a3a8-44f6-82b6-d25ce8820cb4
        title:
          type: string
          example: VX500 300Hz PLA exchangeable
        description:
          type: string
          example: orem ipsum dolor sit amet, consectetur adipiscing elit
        image:
          type: string
          example: http://s3-us-east-1.amazonaws.com/bucket/img1.png
        comments:
          type: array
          items:
            type: string
          example: []
      xml:
        name: ad
    AdNoComments:
      type: object
      properties:
        ad_id:
          type: integer
          format: int64
          example: 5e489fb0-a3a8-44f6-82b6-d25ce8820cb4
        title:
          type: string
          example: VX500 300Hz PLA exchangeable
        description:
          type: string
          example: orem ipsum dolor sit amet, consectetur adipiscing elit
        image:
          type: string
          example: http://s3-us-east-1.amazonaws.com/bucket/img1.png
      xml:
        name: ad
    Comment:
      type: object
      properties:
        timestamp:
          type: integer
          format: int64
          example: 2018-08-20'T'13:20:10*633+0000
        user:
          type: string
          example: Sir Author one
        text:
          type: string
          example: orem ipsum dolor sit amet, consectetur adipiscing elit
      xml:
        name: comment